<label for="streetName{{id}}">Street name</label>
<input type="text" id="streetName{{id}}" name="streetName{{id}}" value="{{address.streetName}}">

<label for="streetNum{{id}}">Street number</label>
<input type="text" id="streetNum{{id}}" name="streetNum{{id}}" value="{{address.streetNum}}">

<label for="postalCode{{id}}">Postal code</label>
<input type="text" id="postalCode{{id}}" name="postalCode{{id}}" value="{{address.postalCode}}">

<label for="cityPart{{id}}">City part</label>
<input type="text" id="cityPart{{id}}" name="cityPart{{id}}" value="{{address.cityPart}}">

<label for="city{{id}}">City</label>
<input type="text" id="city{{id}}" name="city{{id}}" value="{{address.city}}">

<label for="country{{id}}">Country</label>
<input type="text" id="country{{id}}" name="country{{id}}" value="{{address.country}}">
  