<div class="row">
    <div class="column"><a class="button button-clear" href="/">Home</a></div>
    <div class="column"><a class="button button-clear" href="/customer/new">Create new customer</a></div>
    <div class="column"><a class="button button-clear" href="/customers">Customers list</a></div>
    {{#if isLogged}}
    <div class="column"><a class="button button-clear" href="/logout">Logout</a></div>
    {{else}}
    <div class="column"><a class="button button-clear" href="/login">Login</a></div>
    {{/if}}
</div>
