<label for="phoneNumberType{{id}}">Phone number type</label>
<input type="text" id="phoneNumberType{{id}}" name="phoneNumberType{{id}}" value="{{phoneNum.phoneNumberType}}">

<label for="phoneNum{{id}}">Phone number</label>
<input type="text" id="phoneNum{{id}}" name="phoneNum{{id}}" value="{{phoneNum.phoneNum}}">

<label for="cityCode{{id}}">City code</label>
<input type="text" id="cityCode{{id}}" name="cityCode{{id}}" value="{{phoneNum.cityCode}}">

<label for="countryCode{{id}}">Country code</label>
<input type="text" id="countryCode{{id}}" name="countryCode{{id}}" value="{{phoneNum.countryCode}}">