<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Request change collector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.min.css">

</head>
<body>

<div class="container">

    {{! Every view gets inserted here }}
    {{{content}}}

</div>

</body>
</html>  